<!DOCTYPE html>

<!-- test-->

<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <script src="/vue/vue.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="js/script.js"> </script>
  <title>TeamWork</title>
</head>

<body>
  <div class="banner-text">
    <ul>

      <button onclick="location.href='http://localhost:3000';" type="button" name="button" class="invisiblebutton" > login </button>
      <li></li>
      <button onclick="location.href='http://localhost:3000/contact';" type="button" name="button" class="invisiblebutton" > contact </button>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <br>


<div class="about">
<h1>About TeamWork</h1>
<p>Detta är en plattform som har allt allrahelst just nu när den är super färdig osv</p>
</div>
  </div>
  <div class="animation">
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>

  </div>


</body>


</html>
