<!DOCTYPE html>
<!-- you can reach the about page from the index page, this is where the information about the website is written -->
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <script src="/vue/vue.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="js/script.js"> </script>
  <title>TeamWork</title>
</head>

<body>
  <div class="banner-text">
    <ul>

      <button onclick="location.href='http://localhost:3000';" type="button" name="button" class="invisiblebutton" > login </button>
      <li></li>
      <button onclick="location.href='http://localhost:3000/contact';" type="button" name="button" class="invisiblebutton" > contact </button>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <br>


<div class="about" id="sendbuttons">
<h1>About TeamWork</h1>
<!-- <p>Detta är en plattform som har allt allrahelst just nu när den är super färdig osv</p> -->
<p>The idea of Teamwork came up as a result of the ongoing coronavirus pandemic which forced many employees basically from one day to another to create a new way of working from home. During the year of pandemic and the restriction of social interaction that comes with it, many have been in search of new ways to stay updated on friends and colleagues. We wanted to offer a simple application that can be used simultaneously to other work-related tasks performed on a computer from home. This led to the conclusion that a phone application wasn't an ideal solution for working at home since the phone screen is too small and we assumed that the clients would want only one device to focus on. Therefor we decided to make TeamWork a web-based application.</p>
</div>
  </div>
  <div class="animation">
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>

  </div>


</body>


</html>
