<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homepagestyle.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--krävs för att logout ska fungera-->
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <script src="/vue/vue.js" defer></script>


</head>

<body>
  <section id="page">
    <header>
      <div class="headerimage">
        <img src="images/header.png" alt="logga" height="105px">

        <div class="profile" id="sendbuttons">
          <button onclick="location.href='http://localhost:3000/homepage';" type="button" name="button" class="invisiblebutton" id="buttonChat"> Home </button>
          <button onclick="location.href='/myProfile';" type="button" name="button" class="invisiblebutton" id="buttonProfile"> My profile </button>
          <button onclick="location.href='/settings';" type="button" name="button" class="invisiblebutton" id="buttonSettings">  Settings </button>
          <button v-on:click="logoutButtonClicked()" type="button" name="button" class="invisiblebutton" id="buttonLogout">  Sign out </button>
        </div>

      </div>
    </header>

    <div class="dropdown">
      <button class="dropbtn"><img src="images/options.png" alt="test" height="50px" class="invisibledropdown"></button>
      <div class="dropdown-content">
        <a class="menuLink" onclick="location.href='/myProfile';">My profile</a>
        <a class="menuLink" onclick="location.href='/homepage';">Home</a>
        <a class="menuLink" onclick="location.href='/settings';">Settings</a>
        <a class="menuLink" v-on:click="logoutButtonClicked()">Sign out</a>
      </div>
    </div>

    <div class="wrapperChat">
      <div class="chats">
        <div class="myChats"></div>
      </div>

      <div class="chatHeader">"Name of the chat" - name of members...</div>

      <div class="chatWindow">
        <ul id="messages"></ul>

        <form id="form" action="">
          <input id="input" class="chatInput" autocomplete="off" /><button>Send</button>
        </form>
      </section>

      <script src="/socket.io/socket.io.js"></script>

      <script>
      var allChats = () => {

        const divChats = document.querySelector('.myChats');

        let myChats = '';

        for(let chat = 1; chat <= 10; chat++){
          myChats += `<div class = "myChats">${'Example chat: '+ chat}</div>`;
          divChats.innerHTML = myChats;
        };
      }

      allChats();

      var socket = io();

      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');

      form.addEventListener('submit', function(e){
        e.preventDefault();
        if (input.value){
          socket.emit('chat message', input.value);
          input.value = '';
        }
      });

      socket.on('chat message', function(msg){
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });

      </script>
    </div>
  </div>

  <footer> Footer </footer>
</body>
</html>
