<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <!--  <link rel="stylesheet" href="public\views\style.css">-->
  <link rel="stylesheet" type="text/css" href="\css\homepagestyle.css">
  <script type="text/javascript" src="js/homepagescript.js"> </script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <script src="/vue/vue.js" defer></script>
  <title>TeamWork - contact</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <div class="banner-text">
    <ul>

      <button onclick="location.href='http://localhost:3000';" type="button" name="button" class="invisiblebutton" > Login </button>
      <li></li>
      <button onclick="location.href='http://localhost:3000/about';" type="button" name="button" class="invisiblebutton" > About </button>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <br>

  </div>



  <script src="js/homepagescript.js"></script>

</body>

</html>
