<!DOCTYPE html>

<!-- test-->

<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <!--  <link rel="stylesheet" href="public\views\style.css">-->
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <script src="/vue/vue.js" defer></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="js/script.js"> </script>
  <title>Contact</title>
</head>

<body>
  <div class="banner-text">
    <ul>

      <button onclick="location.href='http://localhost:3000';" type="button" name="button" class="invisiblebutton" > login </button>
      <li></li>
      <button onclick="location.href='http://localhost:3000/about';" type="button" name="button" class="invisiblebutton" > about </button>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <br>
    <div class="bild">
      <img src="images/testbild.jpg" alt="logga" width="60%">
</div>
      <div class="bildText" id="sendbuttons">
        Här är vi, skaparna av TeamWork! <br>
        Ring när ni vill på vårt nummer +46??? ?? ?? ??, med andra ord - hör inte av er och ha det bra!

    </div>

  </div>

  <div class="animation">
    <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>

    </ul>

  </div>


</body>


</html>
