<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <title>TeamWork</title>
  <!--CSS filer som tillhör homepage-->
  <link rel="stylesheet" type="text/css" href="\css\homepagestyle.css">
  <link rel="stylesheet" href="/css/calendarstyle.css">

  <!--JS filer som tillhör homepage-->
  <script type="text/javascript" src="js/homepagescript.js"> </script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <script src="/vue/vue.js" defer></script>

  <!-- Fonts som kanske borde ligga i CSSen-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <section id="page">
    <header>
      <div class="headerimage">
        <img src="images/header.png" alt="logga" height="105px">

        <div class="profile" id="sendbuttons">
          <button onclick="location.href='/chat';" type="button" name="button" class="invisiblebutton" id="buttonChat"> Chat </button>
          <button onclick="location.href='/myProfile';" type="button" name="button" class="invisiblebutton" id="buttonProfile"> My profile </button>
          <button onclick="location.href='/settings';" type="button" name="button" class="invisiblebutton" id="buttonSettings">  Settings </button>
          <button v-on:click="logoutButtonClicked()" type="button" name="button" class="invisiblebutton" id="buttonLogout">  Logout </button>
        </div>
      </div>
    </header>

    <div class="dropdown">
      <button class="dropbtn"><img src="images/options.png" alt="test" height="50px" class="invisibledropdown"></button>
      <div class="dropdown-content">
        <a class="menuLink" onclick="location.href='/myProfile';">My profile</a>
        <a class="menuLink" onclick="location.href='/chat';">Chat</a>
        <a class="menuLink" onclick="location.href='/settings';">Settings</a>
        <a class="menuLink" v-on:click="logoutButtonClicked()">Sign out</a>
      </div>
    </div>

    <nav class="navRight">
      <div class="nav_head">
        <h1>My Profile</h1>
      </div>
      <div class="nav_thisisme">
        <p>Namn
          <br>
          Projekt</p>
        </div>
        <div class="nav_calendar">
          <div class="dailyCalendar">
            <div class="calendarHeader">
              <i class="fas fa-angle-left prevDay"></i>
              <div class="thisDay">
                <h1></h1>
                <p></p>
              </div>
              <i class="fas fa-angle-right nextDay"></i>
            </div>

            <div class="event">
              <div class="hours"></div>
            </div>
          </div>
        </div>
      </nav>

      <div class="navLeft">
        <div class="myColleagues"> </div>
      </div>

      <footer> Footer </footer>

    </section>
    <script src="js/homepagescript.js"></script>

  </body>

  </html>
