<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <title>TeamWork</title>
  <!--CSS filer som tillhör homepage-->
  <link rel="stylesheet" type="text/css" href="\css\homepagestyle.css">
  <link rel="stylesheet" href="/css/calendarstyle.css">

  <!--JS filer som tillhör homepage-->
  <script type="text/javascript" src="js/homepagescript.js"> </script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js"></script>
  <script src="js/vue_script.js" defer></script>
  <!--<script src="/vue/vue.js" defer></script>-->

  <!-- Fonts som kanske borde ligga i CSSen-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <section id="page">
    <header>
      <div class="headerimage">
        <img src="images/header.png" alt="logga" height="105px">

        <div class="profile" id="sendbuttons">
          <button onclick="location.href='/chat';" type="button" name="button" class="invisiblebutton" id="buttonChat"> Chat </button>
          <button onclick="location.href='/myProfile';" type="button" name="button" class="invisiblebutton" id="buttonProfile"> My profile </button>
          <button onclick="location.href='/settings';" type="button" name="button" class="invisiblebutton" id="buttonSettings"> Settings </button>
          <button v-on:click="logoutButtonClicked()" type="button" name="button" class="invisiblebutton" id="buttonLogout"> Sign out </button>
        </div>
      </div>
    </header>

    <div class="dropdown">
      <button class="dropbtn"><img src="images/options.png" alt="test" height="50px" class="invisibledropdown"></button>
      <div class="dropdown-content">
        <a class="menuLink" onclick="location.href='/myProfile';">My profile</a>
        <a class="menuLink" onclick="location.href='/chat';">Chat</a>
        <a class="menuLink" onclick="location.href='/settings';">Settings</a>
        <a class="menuLink" v-on:click="logoutButtonClicked()">Sign out</a>
      </div>
    </div>

    <nav class="navRight">
      <div class="nav_head">
        <h1>My Profile</h1>
      </div>

      <div class="nav_thisisme">
        <div class="nav_thisiswork">
          <p id="pName">Name: </p>
          <p id="pProject">Department: </p>
          <div class="thisCurrentUser"></div>
          <div class="thisProject"></div>
        </div>

      </div>

      <div class="nav_calendar">
        <div class="dailyCalendar">
          <div class="calendarHeader">
            <i class="fas fa-angle-left prevDay"></i>
            <div class="thisDay">
              <h1></h1>

            </div>
            <i class="fas fa-angle-right nextDay"></i>
          </div>

          <div class="event">
            <div class="hours" onclick="myFunctionEvent()"></div>
            <div class="popupSchema">
              <!-- Pop Schema -->
              <span class="popuptextSchema" id="myPopupEvent">
                <span class="closeMeeting"> &times; </span>
                <!--  <span class="closeCalendar"> &times; </span>-->
                <p>Add an event to schedule</p>
                <form action="/homepage" method="post">
                  <input class="box" type="text" name="eventname" id="eventname" placeholder="Title" required /><br>
                  <input class="box" type="number" name="starttime" id="starttime" placeholder="Start " required /><br>
                  <input class="box" type="number" name="endtime" id="endtime" placeholder="End " required /><br>
                  <input class="box" type="number" name="date" id="date" placeholder="Day " required /><br>
                  <input class="box" type="number" name="month" id="month" placeholder="Month " required />
                  <input class="box" type="number" name="year" id="year" placeholder="Year " required /><br>

                  <!-- <div class="buttonCo"> -->
                  <!--<button type="button" name="button" class="buttonRemoveEvent"> remove event </button>-->
                  <button type="submit" onclick="myFunctionEvent()" class="buttonAddEvent" value="Submit"> Add event </button>
                <!-- </div>  -->
              </form>
              </span>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="navLeft">

      <div class="myColleagues">
    <!--    <img src="img_avatar.png" alt="Avatar" class="avatar">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">-->
      </div>
      <!-- The Modal -->
      <div id="colleaguesModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="closeColleagues"> &times; </span>
          <p></p>
          <div class="modalName"> </div>
          <div class="buttonCo">
            <button type="button" class="buttonColleagueChat"> start chat </button>
            <br>
            <button type="button" name="button" class="buttonColleagueMeet"> propose a meeting </button>
          </div>
        </div>
      </div>

    </div>

    <footer> Footer</footer>

  </section>

  <script>
    // When the user clicks on div, open the popup
    //  function myFunction() { //Den här verkar inte användas /D?
    //  var popup = document.getElementById("myPopup");
    //  popup.classList.toggle("show");
    //  }
    var spanMeet = document.getElementsByClassName("closeMeeting")[0];
    var popupEvent = document.getElementById("myPopupEvent");

    function myFunctionEvent() {

      popupEvent.classList.toggle("showEvent");
    }
    spanMeet.onclick = function() {
      popupEvent.classList.toggle("showEvent");
    }
  </script>
  <script src="js/homepagescript.js"></script>

</body>

<script src="/socket.io/socket.io.js"></script>

<script>
  var socket = io();
  var getAllTheUsers = [];
  var getAllTheEvents = [];
  var currentUser;
  let myColleagues = '';
  let thisCurrentUser = '';
  let thisProject = '';
  var classes = [];
  var usernameString;
  var classnames;
  var divColleagues = document.querySelector('.myColleagues');
  var divUser = document.querySelector('.thisCurrentUser');
  var divProject = document.querySelector('.thisProject');
  var idColleaguesModal = document.getElementById("colleaguesModal");
  var span = document.getElementsByClassName("closeColleagues")[0];
  var divModalName = document.querySelector('.modalName');
  let classHours = ['seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fouteen', 'fifteen', 'sixteen', 'seventeen']
  var thisDate = new Date().getDate();
  var thisMonth = new Date().getMonth() + 1;
  var thisYear = new Date().getFullYear();


  socket.emit('getAllMyUsers', getAllTheUsers);
  socket.on('getAllMyUsers', function(d) {
    getAllTheUsers = d.allCurrentUsers;
    currentUser = d.thisUser;
    allColleagues();
  }); /*end of socket*/


  var allColleagues = () => {
    getAllTheUsers.forEach(users => {
      if (currentUser != users.username) { //skapar alla kollegor
        usernameString = `${users.name}`; //hämtar namn på användare
        usernameString = usernameString.replace(/\s+/g, ''); //tar bort mellanrummet mellan för och efternamn för att använda som klassnamn

        myColleagues += `<div class = "myColleagues ${usernameString} "> ${users.name} ${ users.project}</div>`; //placerar varje kollega i individuell div (mycolleagues FörnamnEfternamn) för att kunna isolera varje kollegas div
        divColleagues.innerHTML = myColleagues;
        classnames = `${usernameString}`; // lägger till alla förnamnefternamn i en lista
        classes.push(classnames);
      }
      if (currentUser == users.username) { //skapar alla MyProfile
        thisCurrentUser = `<div class = "thisCurrentUser"> ${users.name}</div>`; //namnet på nuvarande användaren
        divUser.innerHTML = thisCurrentUser;
        thisProject = `<div class = "thisProject"> ${users.project}</div>`; //projektet på nuvarande användaren
        divProject.innerHTML = thisProject;
      }
    });
    classes.forEach(classInClasses => { //går genom varje klass i listan av klasser
      document.querySelectorAll("." + classInClasses).forEach(item => {
        item.addEventListener('click', event => { //lägger till individuell eventlistener till alla kollegor
          openModal(classInClasses);
        })
      })
    });
  }
  span.onclick = function() {
    idColleaguesModal.style.display = "none";
  }
  window.onclick = function(event) {
    if (event.target == modal) {
      idColleaguesModal.style.display = "none";
    }
  }

  function openModal(name) {
    var divColleague = document.querySelector("." + name);
    divModalName.innerHTML = divColleague.innerHTML;
    idColleaguesModal.style.display = "block";
  }


  var daily = new Date();
  var renderDaily = () => {

    const timeHours = document.querySelector('.hours');

    const weekdays = [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
    ];

    //Veckodagen för den dag som syns på dagsvyn
    document.querySelector(".thisDay h1").innerHTML = weekdays[daily.getDay() ]+" "+ thisDate +"/"+ thisMonth+"-"+ thisYear;
    //Dagens datum som visas i headern
  //  document.querySelector(".thisDay p").innerHTML = new Date().toDateString();

    let hours = '';


    for (let hour = 7; hour <= 17; hour++) {
      //console.log(classHours[hour - 7] + hour)
      hours += `<div class = "hours ${classHours[hour-7]}">${hour}:00</div>`;
      timeHours.innerHTML = hours;
    };
  }

  socket.emit('getAllMyEvents', getAllTheEvents);
  socket.on('getAllMyEvents', function(d) {
    getAllTheEvents = d.allCurrentEvents;
    allEvents();
  });
  var allEvents = () =>{
    getAllTheEvents.forEach(events =>{
  //    console.log("eventname all users: " + events.username + " " + events.eventname + " " + events.starttime + " " + events.endtime);
    //  console.log(thisDate+ "i allevents");
      if (events.username == currentUser) { //HÄÄÄÄR
        if (events.month == thisMonth) {
        if (events.date == thisDate) {
          console.log("HÄÄÄÄÄÄÄR " + events.month +" event månad " + thisMonth + " kalendermånad");
       //console.log("eventname this user: " + events.username + " " + events.eventname + " " + events.starttime + " " + events.endtime+ " " + events.date);
        var userHourStart = events.starttime - 7;
        var userHourEnd = events.endtime - 7;
      //  console.log("position: " + userHourStart + userHourEnd);
        var thisUserHour = classHours.slice(userHourStart,userHourEnd);
      //  var thisUserHour = classHours[userHourStart]
      //  console.log( "arrayen: " + thisUserHour);
        thisUserHour.forEach(colorEvent => {
        //  console.log("classes" + colorEvent);
          var divTEST = document.querySelector("." + colorEvent);
        //  console.log("divTEST innan: " + divTEST.innerHTML);
          if (divTEST.innerHTML == events.starttime+":00") {
            divTEST.innerHTML += ' Eventname: ' + events.eventname + " starting at: " + events.starttime + ":00 ending at: " + events.endtime +":00 ";
          }
        //  console.log("divTEST efter: " + divTEST.innerHTML);
          var divMeeting = document.getElementsByClassName(colorEvent);
          for(var i = 0; i < divMeeting.length; i++){
            divMeeting[i].style.backgroundColor = "#dbe2ff";
            divMeeting[i].style.borderRadius = "12px";
          }
        });
        }
      }
      }

    });
  }

  document.querySelector('.prevDay').addEventListener('click', () => {
    daily.setDate(daily.getDate() - 1)
    thisDate -= 1;
    var d = new Date(thisYear, thisMonth + 1, 0).getDate();
  //  console.log( d.toString() + "är last date of montn " + thisMonth + " datumet är: "+ thisDate);
    if (thisDate < 1) {
      thisMonth -=1;

      thisDate =d;
    //  console.log("månad "+ thisMonth + "dag " + thisDate);
    }

   // console.log( d.toString() + "last date of montn" );
    renderDaily();
    allEvents();
  });
//  var month = 0; // January
//  var d = new Date(2008, month + 1, 0);
//  console.log(d.toString()); // last day in January

  document.querySelector('.nextDay').addEventListener('click', () => {
   daily.setDate(daily.getDate() + 1)
   thisDate += 1;
   var d = new Date(thisYear, thisMonth , 0).getDate();
//   console.log( d.toString() + "är last date of montn " + thisMonth + " datumet är: "+ thisDate);
   if (thisDate > d) {
     thisMonth +=1;
     thisDate =1;
  //   console.log("månad "+ thisMonth + "dag " + thisDate);
   }
    renderDaily();
    allEvents();
  });
  renderDaily();



  var menu = document.querySelector(".menu")
  var ham = document.querySelector(".ham")
  var xIcon = document.querySelector(".xIcon")
  var menuIcon = document.querySelector(".menuIcon")

  // ham.addEventListener("click", toggleMenu)

  function toggleMenu() {
    if (menu.classList.contains("showMenu")) {
      menu.classList.remove("showMenu");
      xIcon.style.display = "none";
      menuIcon.style.display = "block";
    } else {
      menu.classList.add("showMenu");
      xIcon.style.display = "block";
      menuIcon.style.display = "none";
    }
  }

  var menuLinks = document.querySelectorAll(".menuLink")

  menuLinks.forEach(
    function(menuLink) {
      menuLink.addEventListener("click", toggleMenu)
    }
  )
</script>
<style>

/* profile picture */
.avatar {
vertical-align: middle;
width: 50px;
height: 50px;
border-radius: 50%;
}

  /*modal*/
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 30%;
    left: 15%;
    z-index: 1;
    /* Sit on top */
    height: 200px;
    color: black;
    width: 70%;
  }

  /* Modal Content */
  .modal-content {
    display: block;
    height: 100%;
    background-color: #fff;
    color: #767474;
    font-size: 16px;
    border-radius: 12px;
    padding-right: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 7px 5px #888888;
  }

  .modalName {
    padding: 20px;
  }

  .modal-content p {
    padding: 30px 15px 0 20px;
  }

  /* The Close Button */
  .closeColleagues {
    z-index: 2;
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }

  .closeColleagues:hover,
  .closeColleagues:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .closeMeeting {
    z-index: 2;
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }

  .closeMeeting:hover,
  .closeMeeting:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*modal*/
</style>

</html>
