@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

html{
  font-size: 62.5%;
  background: #dbe2ff!important;
  overflow-y: scroll;
}

header{
  height: 90px;
}

#page{
  min-width: 450px;
  overflow: visible;
}

/*liten skärm*/
img{
  z-index: 1;
  position: relative;
/*  height: 100%;*/
}

.headerimage{
  position: relative;
  /*display: block;*/
  overflow-x: hidden;
}

.invisiblebutton{display: none;}

.nav{
  display: flex;
  justify-content: center;
  width: 96%;
  margin: 4% 2%;
  padding-bottom: 2%;
  height: 100vh;
  background: #e5eaff;
  border-radius: 12px;
}

/* Popup container - texten som triggar popupen */
.popup{
  text-align: left;
  display: flex;
  padding-left: 4%;
}

.popup:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  left: 25%;
  bottom: 10%;
  box-shadow: 5px 5px 7px 5px #888888;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

input{
    font-family: 'Bitter', serif;
    width: 80%;
    font-size: 20px;
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-bottom: 2px solid #767474;
}
input[type=submit] {
    font-family: 'Bitter', serif;
    width: 50%;
    background-color: #767474;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 10px;
}

.main h1{font-size: 30px; margin-left: 40px; line-height: 200%;}

.navLeft{
  display: flex;
  justify-content: center;
  width: 96%;
  margin: 2%;
  padding-bottom: 2%;
  height: auto;
  background: #e5eaff;
  border-radius: 12px;
}

.myColleagues div{
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #dbe2ff;
  border-radius: 100px;
  border-style: solid;
  border-color: #333;
  border-width: thin;
  text-align: center;
  padding-top: 50px;
  margin: 3%;
}



.dropdown{
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 75px;
}

.dropbtn {
  margin-left: 85%;
  position: relative;
  border: none;
  background: none!important;
  z-index: 1;
}

.dropdown-content {
  border-radius: 12px;
  display: none;
  position: absolute;
  right: -1px;
  top: 30px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

 .dropdown-content a:hover {
   background-color: #ddd;
   border-radius: 12px;
 }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}

/*.ham {
  position: absolute;
  z-index: 100;
  bottom: 2.4rem;
  right: 4.1rem;
  width: 4rem;
  height: 4rem;
  border: #333 solid 1px;
  border-radius: 100px;
  background: white;
  cursor: pointer;
  overflow-y: hidden;
}

.menuIcon{
  padding: 0.7rem;
  z-index: 0.8
}

.wrapperMenu {
  display: flex;
  justify-content: right;
  align-items: right;
  position: fixed;
  top: 6rem;
  right: 7rem;
  width: 100vw;
  height: auto;
  z-index: 1;
}

.menu {
  background: #fff;
  border: solid thin grey;
  border-radius: 0.3em;
  margin-left: 75%;
  padding: 1em;
}

.xIcon {
  width: 1.5em;
  margin: 0%;
}
/*.xIcon {
  display: none;
}

.menu {
  display: flex;

position: fixed;
top: 5rem;
left: 6rem;

z-index: 1;
   position: absolute;
  top: 5rem;
  right: 6rem;
  width: 200px;
  background: white;
  color: black;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 1rem;

}*/
/*.showMenu {
  transform: translateY(0);
}

li {
  padding: 1rem 2rem;
}

.menuLink {
  display: inline;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}

.menuLink:hover {
text-decoration: underline;
}*/

/* #page > nav {
display: grid;
grid-area: nav;
margin: 3rem 3rem 0rem 3rem;
background-color: #e5eaff; /*gridens bakgrundsfärg*/
/* border-radius: 12px; */
/* color: #eee;/*siffrorna och dagarna*/
/* grid-template-areas:  "nav_head" */
/*                        "nav_thisisme"
"nav_calendar";
grid-template-rows: 8% 20% 72%;
} */
.navRight{
  display: block;
  width: 96%;
  margin: 4% 2%;
  background: #e5eaff;
  border-radius: 12px;
}

.nav_head{
  /* grid-area: nav_head; */
  text-align: right;
  line-height: 200%;
  margin-right: 5%;
  letter-spacing: 0.1rem;
  font-size: 14px;
  color: #333;
}

.nav_thisisme{
  border-radius:100px;
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
  background: #dbe2ff;
  border-style: solid;
  border-width: thin;
  border-color: #333;
  color: #333;
  display: block;
  text-align: left;
}

.nav_thisisme p{
  display: inline-block;
  font-weight: bold;
  width: auto;
  letter-spacing: 0.1rem;
  margin-top: 5px;
  margin-left: 120px;
  line-height: 30px;
  font-size: 16px;
}
.nav_thisiswork{
  display: inline-block;
  width: auto;
  letter-spacing: 0.1rem;
  margin-top: 5px;
  margin-left: 120px;
  line-height: 30px;
  font-size: 16px;
}


.nav_calendar{
  display: block;
  margin: 50px 2% 2% 2%;
  /* justify-content: center;
  align-items: center; */
  color: #333;
  height: 100%;
  width: 96%;
  padding-bottom: 2%;
}

.dailyCalendar{
  display: block;
  height: 95%;
  margin-top: 120px;
  padding-bottom: 1%;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0.5rem 3rem #rgba(0, 0, 0, 0.4);
}

.calendarHeader{
  width: 100%;
  height: 45px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.calendarHeader i {
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1%;
}

.thisDay h1{display: none;}
.thisDay p{font-size: 18px;}

.event{
  margin: 1%;
  height: 89%;
  width: 96%;
  display: flex;
}

.hours{
  width: 100%;
  line-height: 350%;
  color: #333;
  margin-right: 1%;
  display: inline-block;
}

.hours div{
  margin: 0.5%;
  display: inline-block;
  /* height: calc(87%/11); */
  border-bottom: 1px solid;
  border-color: #BFBFBF;
}

/* .todayTime{
display: inline-block;
width: 70%;
}

.todayTime div{
font-size: 1rem;
height: calc(100%/11);
display: inline-block; */
/*}
*/
.hours div:hover{
  background-color: #e5eaff;
  border: 0.1rem solid #333;
  cursor: pointer;
  border-radius: 12px;
}

/* #page > main { */
/*myCollegues{
/* grid-area: main; */
/*display: inline-block;
margin: 3rem 3rem 0rem 3rem;
width: 60%;
background-color: #e5eaff; /*gridens bakgrundsfärg*/
/*border-radius: 12px;
}*/

#page > footer {
  /* grid-area: foot; */
  /*background-color: #dbe2ff;*/
}


/* CHAT */
.wrapperChat{
  margin: 2% 0;
  padding: 2%;
  position: relative;
  height: 80vh;
}

.chats{
  display: inline-block;
  width: 20%;
  height: 100%;
  background: #e5eaff;
  padding: 1%;
  border-radius: 12px;
  overflow-y: scroll;
}

.myChats div{
  display: inline-block;
  height: 50px;
  width: 170px;
  background: #dbe2ff;
  border-radius: 12px;
  border-style: solid;
  border-color: #333;
  border-width: thin;
  text-align: center;
  padding-top: 50px;
  margin: 3% 4% 8%;
}

.chatHeader{
  margin-left: 0 2% 2%;
  padding-left: 2%;
  display: block;
  position: relative;
  top: 0;
  right: 0;
  float: right;
  width: 75%;
  height: 50px;
  background: #e5eaff;
  border-radius: 12px;
  line-height: 260%;
  font-size: 20px;

}
.chatWindow{
  display: block;
  margin-left: 0 2% 2%;
  padding-left: 2%;
  position: absolute;
  right: 2%;
  top: 15%;
  width: 72%;
  height: 79%;
  background: #e5eaff;
  border-radius: 12px;
  /* padding-bottom: 3rem; */
}

#form{
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 12px 12px;
  display: flex;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  /* backdrop-filter: blur(10px); */
}

#input{
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus{
  outline: none;
}

#form > button{
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages{
  list-style-type: none;
  margin: 0;
  height: 85%;
  line-height: 130%;
  font-size: 14px;
  overflow-y: scroll;
}

#messages > li{
  padding: 0.5rem 1rem;
  margin-right: 60%;
  border-radius: 12px;
  width: 40%;
  word-wrap: break-word;
}

#messages > li:nth-child(odd){
  background: #efefef;
  float: right;
  margin-left: 60%;
  margin-right: 0;
}




@media only screen and (min-width: 768px) {

  .nav_head{
    text-align: center;
    width: 100%;
    line-height: 40px;
    font-size: 20px;
  }

  /* .nav_thisisme{
  border-radius:100px;
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

.nav_thisisme p{
margin-top: 25px;
margin-left: 120px;
line-height: 30px;
font-size: 16px;
} */

.dailyCalendar{
  margin-top: 120px;
  height: auto;
}

.hours{
  width: 100%;
  line-height: 350%;
  color: #333;
  margin-right: 1%;
  display: inline-block;
  font-size: 16px;
}
}

@media only screen and (min-width: 1000px) {

  header{
    height: 105px;
  }

  img{
    height: 105px;
  }

  .headerimage{
    position: relative;
    /*display: block;
    /* width: 100%; */
  }

  .profile{
    position: absolute;
    bottom:1%;
    right: 1%;
    width: 660px;
    z-index: 1;
  }

  .invisiblebutton{
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 200%;
    cursor: pointer;
    line-height: 300%;
    text-transform: uppercase;
    background: none!important;
    border: none;
    color: #fff;
    /* display: grid; */
    grid-template-areas:
    "invisiblebutton invisiblebutton invisiblebutton invisiblebutton";
    grid-area: invisiblebutton;
    padding-left: 8%;
    display: inline-block;
    grid-template-columns: repeat(auto-fill, 20%);
  }


/* vill egentligen zooma men det ville inte...!!*/
.invisiblebutton:hover{
  text-decoration: underline;
}

/*.ham{display: none;}
.menu{display: none;}*/
.dropbtn {display: none;}

.wrapperChat{margin: 0;}

.chatWindow{top: 18%;}

.nav{margin: 2%;}

#navSettings h1{
  padding-left: 4%;
  text-align: left;
}

.navLeft{
  display: inline-block;
  width: 56%;
  margin: 2%;
  height: 700px;
  overflow-y: scroll;
}

.myColleagues div{
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #dbe2ff;
  border-radius: 100px;
  border-style: solid;
  border-color: #333;
  border-width: thin;
  text-align: center;
  padding-top: 50px;
  margin: 3%;
}

.myColleagues div:hover{
  transform: scale(1.2)translate(0,0);
}





.navRight{
  display: inline-block;
  float: right;
  height: 700px;
  width: 36%;
  margin: 2%;;
}

.nav_calendar{
  height: auto;
}
.dailyCalendar{height: auto;}

.nav_head{
  text-align: right;
  line-height: 300%;
  padding-right: 5%;
  font-size: 14px;
}

.nav_thisisme{
  margin-left: 5%;
}

.nav_thisisme p{
  text-align: left;
}

.thisDay h1{
  display: contents;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0.2rem;
  font-size: 16px;
}

.thisDay p{font-size: 14px;}

.hours{
  width: 100%;
  line-height: 350%;
  color: #333;
  margin-right: 1%;
  display: inline-block;
  font-size: 11px;
}
}
