@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* over all styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bitter', serif;
}

html{
  font-size: 62.5%;
  background: #dbe2ff!important;
  overflow-y: scroll;
}

header{height: 90px;}

#page{
  min-width: 450px;
  overflow: visible;
}

/* small screan */
img{
  z-index: 1;
  position: relative;
}

.headerimage{
  position: relative;
  overflow-x: hidden;
}

.invisiblebutton{display: none;}

.nav{
  display: flex;
  justify-content: center;
  width: 96%;
  margin: 4% 2%;
  padding-bottom: 2%;
  height: 100vh;
  background: #e5eaff;
  border-radius: 12px;
}

/* Popup container - the text that triggers the popup */
.popup{
  text-align: left;
  display: flex;
  padding-left: 4%;
  width: 200px;
}

.popup:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  left: 25%;
  bottom: 10%;
  box-shadow: 5px 5px 7px 5px #888888;
}

/* Popup */
.popup .popuptext::after {
  content: "";
  z-index: 5;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.closeAddColleagues {
  z-index: 2;
  color: #aaaaaa;
  padding-right: 5%;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

/* animation - fade in the popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* text fields to sign up */
input{
  font-family: 'Bitter', serif;
  width: 80%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px;
  border: none;
  border-bottom: 2px solid #767474;
}

input[type=submit] {
  font-family: 'Bitter', serif;
  width: 50%;
  background-color: #767474;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}

#admin {
  text-align: left;
}

.checkbox {
  width: 20px;
}

.main h1{font-size: 30px; margin-left: 40px; line-height: 200%;}

/* left side of the homepage */
.navLeft{
  display: flex;
  justify-content: center;
  width: 96%;
  margin: 2%;
  padding-bottom: 2%;
  height: auto;
  background: #e5eaff;
  border-radius: 12px;
}

/* the generated divs for the colleagues "blobs", names and role */
.myColleagues div{
  display: inline-block;
  grid-area: str;
  height: 60px;
  width: 60px;
    /*background: #dbe2ff;*/
  /*border-radius: 100px;
    border-style: solid;*/
  /*border-color: #626567;
  border-width: thin;*/
  text-align: center;
  line-height: 120%;
  /* padding-top: 60px; */
  margin: 3%;
  grid-template-rows: 70px 30px;
  grid-template-areas:
  "img"
  "str";
}

/* #colleaguesprofilepictureID{
  grid-area: img;
} */

/* Fiction buttons on the popup when clicking on a colleague */
.buttonCo{position: relative; top: -40px; height: 100px; width: 95%;}

.buttonColleagueChat{
  position: relative;
  top: 20px;
  right: 20px;
  display: block;
  float: right;
  font-family: 'Bitter', serif;
  width: 110px;
  height: 40px;
  background-color: #767474;
  border: none;
  color: white;
  padding: 2px 20px;
  margin: 4px 2px;
  border-radius: 10px;
}

.buttonColleagueMeet{
  position: relative;
  top: 60px;
  right: -95px;
  display: block;
  float: right;
  font-family: 'Bitter', serif;
  width: 110px;
  height: 40px;
  background-color: #767474;
  border: none;
  color: white;
  padding: 2px 20px;
  margin: 4px 2px;
  border-radius: 10px;
}
.buttonAddColleague{
  position: relative;
  /*top: 60px;*/
  /*right: -95px;*/
  display: block;
  /*float: right;*/
  font-family: 'Bitter', serif;
  background-color: #e5eaff;
  width: 110px;
  height: 40px;
  border: none;
  color: grey;
/*  padding: 2px 20px;*/
/*  margin: 4px 2px;*/
/*  border-radius: 10px;*/
}

/* popup schema*/
.popupSchema .popuptextSchema {
  visibility: hidden;
  width: 40%;
  font-size: 20px;
  background-color: #fff;
  color: #555;
  border-radius: 12px;
  padding: 15px;
  position: absolute;
  left: 30%;
  bottom: 20%;
  box-shadow: 5px 5px 7px 5px #888888;
}

/* Hide and show the popup */
.popupSchema .showEvent {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  height: 300px;
  z-index: 5;
}

/* Fiction buttons on the popup when clicking at the calendar */
.buttonAddEvent{
  /* position: absolute;
  right: 25px;
  top: 75px; */
  display: block;
  font-family: 'Bitter', serif;
  width: 110px;
  height: 40px;
  background-color: #767474;
  border: none;
  color: white;
  padding: 2px 20px;
  margin: 25px 2px;
  border-radius: 10px;
}

.buttonAddEvent:hover{
  cursor: pointer;
}

.box{
  display: inline-block;
  margin-left: 10px;
  color: #767474;
}

#eventname{width: 80%;
  margin-bottom: 20px;
}
/* #endtime option:hover{background-color: #dbe2ff} */
#endtime{
  margin-bottom: 25px;
}
#starttime{
  margin-bottom: 25px;
}

/* .buttonRemoveEvent{
  position: absolute;
  right: 25px;
  top: 135px;
  font-family: 'Bitter', serif;
  width: 110px;
  height: 40px;
  background-color: #767474;
  border: none;
  color: white;
  padding: 2px 20px;
  margin: 4px 2px;
  border-radius: 10px;
} */

/* the list within the menu-button */
.dropdown{
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 75px;
}

/* menu-button */
.dropbtn {
  margin-left: 85%;
  position: relative;
  border: none;
  background: none!important;
  z-index: 1;
}

/* content in the list */
.dropdown-content {
  border-radius: 12px;
  display: none;
  position: absolute;
  right: -1px;
  top: 30px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* hover functionallity in the list */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}

/* right side of the homepage */
.navRight{
  display: block;
  width: 96%;
  margin: 4% 2%;
  background: #e5eaff;
  border-radius: 12px;
}

.nav_head{
  text-align: right;
  line-height: 200%;
  margin-right: 5%;
  letter-spacing: 0.1rem;
  font-size: 14px;
  color: #626567;
}

.nav_thisisme{
  margin-left: 7%;
  display: inline-block;
}

.nav_thisiswork{
display: inline-block;
float: right;
margin-left: 20px;
font-size: 17px;
color: #626567;
letter-spacing: 0.1rem;
margin-top: 7%;
}

#profilepictureID{
  height: 50%;
  grid-area: img;
  /* display: inline-block; */
}

#profilepictureID img{
  height: 100px;
}

#pName{
  grid-area: name;
  display: inline-block;
  font-weight: bold;
}
#pProject{
  grid-area: project;
  display: inline-block;
  font-weight: bold;
}
.thisCurrentUser{
  grid-area: thisName;
  display: inline-block;
  margin-bottom: 7px;
}
.thisProject{
  grid-area: thisProject;
  display: inline-block;
}

/* daily calendar */
.nav_calendar{
  display: block;
  margin: 50px 2% 2% 2%;
  color: #767474;
  height: auto;
  width: 96%;
  margin: 2%;
}

.dailyCalendar{
  display: block;
  margin: 10px 5%;
  width: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0.5rem 3rem #rgba(0, 0, 0, 0.4);
}

.calendarHeader{
  width: 100%;
  height: 45px;
  background-color: #626567;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.calendarHeader i {
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1%;
}

.thisDay h1{display: none;}
.thisDay p{font-size: 18px;}

/* "wrapper" */
.event{
  margin: 1%;
  height: 89%;
  width: 96%;
  display: flex;
}

.hours{
  width: 100%;
  line-height: 350%;
  color: #626567; /*Grey*/
  margin-right: 1%;
  display: inline-block;
}

.hours div{
  margin: 0.5%;
  display: inline-block;
  border-bottom: 1px solid;
  border-color: #BFBFBF;
}

.hours div:hover{
  background-color: #e5eaff;
  border: 0.1rem solid #626567;
  cursor: pointer;
  border-radius: 12px;
}

#page > footer {}

  /* CHAT - different page*/
  .wrapperChat{
    margin: 2% 0;
    padding: 2%;
    position: relative;
    height: 80vh;
  }

  .chats{
    display: inline-block;
    width: 20%;
    height: 100%;
    background: #e5eaff;
    padding: 1%;
    border-radius: 12px;
    overflow-y: scroll;
  }

  /* displayes the example chats */
  .myChats div{
    display: inline-block;
    height: 50px;
    width: 170px;
    background: #dbe2ff;
    border-radius: 12px;
    border-style: solid;
    border-color: #626567;
    border-width: thin;
    text-align: center;
    padding-top: 50px;
    margin: 3% 4% 8%;
  }

  .chatHeader{
    margin-left: 0 2% 2%;
    padding-left: 2%;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    float: right;
    width: 75%;
    height: 50px;
    background: #e5eaff;
    border-radius: 12px;
    line-height: 260%;
    font-size: 20px;
  }

  /* the actual chat window - where you write and see the messages */
  .chatWindow{
    display: block;
    margin-left: 0 2% 2%;
    padding-left: 2%;
    position: absolute;
    right: 2%;
    top: 15%;
    width: 72%;
    height: 79%;
    background: #e5eaff;
    border-radius: 12px;
  }

  #form{
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 12px 12px;
    display: flex;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
  }

  #input{
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
  }

  #input:focus{outline: none;}

  #form > button{
    background: #626567;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }

  #messages{
    list-style-type: none;
    margin: 0;
    height: 85%;
    line-height: 130%;
    font-size: 14px;
    overflow-y: scroll;
  }

  #messages > li{
    padding: 0.5rem 1rem;
    margin-right: 60%;
    border-radius: 12px;
    width: 40%;
    word-wrap: break-word;
  }

  #messages > li:nth-child(odd){
    background: #efefef;
    float: right;
    margin-left: 60%;
    margin-right: 0;
  }

  /* new style when the screen is bigger than 768px,
  suppose to be when one probably goes from a phone to a tablet */
  @media only screen and (min-width: 768px) {

    #profilepictureID img{
      height: 150px;
    }

    .nav_thisiswork{font-size: 24px;}

    .nav_thisiswork{
    margin-top: 50px;
    }

    .nav_head{
      text-align: center;
      width: 100%;
      line-height: 40px;
      font-size: 20px;
    }

    .dailyCalendar{margin-top: 10px;}

    .hours{
      width: 100%;
      line-height: 350%;
      color: #626567;
      margin-right: 1%;
      display: inline-block;
      font-size: 16px;
    }
  }

  /* new style when the screen is bigger than 1000px,
  suppose to be when one probably goes from a tablet to a computer */
  @media only screen and (min-width: 1000px) {

    header{height: 105px;}

    img{height: 105px;}

    .headerimage{position: relative;}

    .profile{
      position: absolute;
      bottom:1%;
      right: 1%;
      width: 675px;
      z-index: 1;
    }

    /* seperate the menu-button to a row of buttons */
    .invisiblebutton{
      text-align: center;
      letter-spacing: 0.3rem;
      font-size: 200%;
      cursor: pointer;
      line-height: 300%;
      text-transform: uppercase;
      background: none!important;
      border: none;
      color: #fff;
      grid-template-areas:
      "invisiblebutton invisiblebutton invisiblebutton invisiblebutton";
      grid-area: invisiblebutton;
      padding-left: 7%;
      display: inline-block;
      grid-template-columns: repeat(auto-fill, 20%);
    }

    .invisiblebutton:hover{text-decoration: underline;}

    .dropbtn {display: none;}

    .wrapperChat{margin: 0;}

    .chatWindow{top: 18%;}

    .nav{margin: 2%;}

    #navSettings h1{
      padding-left: 4%;
      text-align: left;
    }

    .navLeft{
      display: inline-block;
      width: 56%;
      margin: 2%;
      height: 700px;
      overflow-y: scroll;
    }

    .myColleagues div{
      display: inline-block;
      /*background: #dbe2ff;*/
      border-radius: 100px;
    /*  border-style: solid;*/
      /*border-color: #626567;*/
      border-width: thin;
      text-align: center;
      margin: 3%;
    }

    /* zoomes in the colleague the one hover over */
    .myColleagues div:hover{transform: scale(1.2)translate(0,0);}

    .navRight{
      display: inline-block;
      float: right;
      height: 700px;
      width: 36%;
      margin: 2%;
    }

    .nav_thisiswork{margin-top: 7%; font-size: 16px;}

    #profilepictureID{height: auto;}

    #profilepictureID img{height: 100px;}

    .nav_head{
      text-align: right;
      line-height: 300%;
      padding-right: 5%;
      font-size: 14px;
    }

    .thisDay h1{
      display: contents;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin: 0.2rem;
      font-size: 16px;
    }

    .thisDay p{font-size: 14px;}

    .hours{
      width: 100%;
      line-height: 350%;
      color: #626567;
      margin-right: 1%;
      display: inline-block;
      font-size: 11px;
    }
  }
